providers:
  docker:
    exposedByDefault: false
  file:
    filename: "/config/dynamic_config.yml"

api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

log:
  level: TRACE
accessLog: {}

certificatesResolvers:
  ssl-resolver:
    acme:
      email: <%= secrets(:cloudflare_email) %>
      storage: /etc/traefik/acme/acme.json
      dnsChallenge:
        provider: cloudflare
